*
{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline:none;

}

body
{
  background: #1b1b1bda;
  font: normal 20pt Arial;
  text-align: center;
  margin: 10px;
}

header
{
  margin: 10px;
  padding: 3px;
  border: 5px;
  color: #fff;
}

section
{
  background: #fff;
  border-radius: 10px;
  width: 350px;
  padding: 15px;
  margin: auto;
  text-align: center;
  box-shadow: 3px 3px 10px rgba(40, 40, 40, 0.7);
}

div#visor input 
{
  font: normal 30pt Arial;
  width: 300px;
  height: 60px;
  margin: 10px;
  text-align: end;
  border-radius: 10px;
  background: #fff;
}

div#btn input
{
  color: #fff;
  font: normal 25pt Arial;
  margin: 6px;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  box-shadow: 3px 3px 10px rgba(250, 250, 250, 0.9);
  background-color: #5e0b0bea;
}

div#btn input:active
{
  background-color: #110101ea;
}

footer
{
  margin-top: 20px;
  color: #fff;
  text-align: center;
  font-style: italic;
}